<article class="post" style="background-color: #fdf7f9; filter: drop-shadow(0 0 0.35rem rgb(247, 201, 211));">

  <header>
    
    <div class="title">
      <h2 style="color:red;">お知らせ</h2>
    </div>

    <div class="meta">
      <time datetime="2022-04-05 00:00:00 +0000 UTC">--</time>
      <p>見学希望者の方へ</p>
    </div>

  </header>

  <div class="content">
    <h3>研究室見学について</h3>

    <!-- <p>今年度の研究室見学の日程は以下のようになっています．</p>
    <p>4/19(水), 4/26(水), 5/10(水) 10:40-13:00</p>
    <p>4/21(金), 4/28(金) 12:00-15:00</p> -->

    <p>研究室見学を希望の方は下記のメールアドレスにて日程調整します．</p>
    <!-- <p>下記のメールアドレスにて別途日程調整します．</p> -->

    <span style="display:flex; align-items:center;">
      <span style="font-size:50px; margin-right:20px;">📧</span>
      <a href="mailto:kaji@aitech.ac.jp" style="font-weight: bold;">kaji@aitech.ac.jp</a>
    </span>

    <!-- <hr>
    <h3>Summer WorkShop 2022 参加者の方へ</h3>
    <p>
      以下の特設ページをご覧ください．<br>
      <a href="https://kajilab.net/summerworkshop2022/" style="font-weight: bold;">https://kajilab.net/summerworkshop2022/</a>
    </p> -->
  </div>

</article>